BANNER_CACHE_HOST="https://cdn.aws.cloud"
THETVDB_APIKEY="abc1234567890"
OIDC_ISSUER="https://idp.example.com"
OIDC_CLIENT_ID="client-id"
OIDC_CLIENT_SECRET="client-secret"
OIDC_REDIRECT_URI="http://127.0.0.1:3000/users/auth/openid_connect/callback"
OIDC_PROVIDER_NAME="Provider Name"
