<h2>Subscriptions</h2>

<p>
  Here are the shows you have subscribed to.<br>
  You can manage <%= link_to 'your subscriptions here', shows_path %>.</p>
</p>

<hr />

<% if @shows.any? %>
  <%= render @shows %>
<% else %>
  <p>You don't have any active subscriptions.</p>
<% end %>
