<div class="d-flex align-items-center justify-content-between">
  <div>
    <h2>Your Shows</h2>
    <p>
      Here are the shows you have subscribed to.
    </p>
  </div>
  <div>
    <% if @shows.any? %>
      <%= link_to 'Manage Subscriptions', shows_path, class: "btn btn-outline-primary" %></p>
    <% end %>
  </div>
</div>

<hr />

<% if @shows.any? %>
  <%= render @shows %>

  <%= paginate @shows %>
<% else %>
  <div class="text-center bg-light my-5 py-5">
    <h2>Howdy</h2>
    <p>You don't have any active subscriptions.</p>
    <%= link_to 'Add Show', shows_path, class: "btn btn-sm btn-outline-primary" %>
  </div>
<% end %>
