<div class="d-flex align-items-center justify-content-between">
  <div>
    <h2>All Shows</h2>
    <p>
      Here you can find all shows already subscribed by other users.<br>
    </p>
  </div>
  <div>
    <%= link_to 'Add Missing Show', new_show_path, class: "btn btn-outline-primary" %>
  </div>
</div>

<hr />

<% if @shows.any? %>
  <%= render @shows %>
  <%= paginate @shows %>
<% else %>
  <p>No Shows available.</p>
<% end %>
