<h2>All Shows</h2>

<p>
  Here you can find all shows already subscribed by other users.<br>
  Feel free to <%= link_to 'Add missing shows', new_show_path %>.</p>
</p>

<hr />

<% if @shows.any? %>
  <%= render @shows %>
<% else %>
  <p>No Shows available.</p>
<% end %>
