<% flash.each do |type, body| %>
  <%= content_tag :div, class: "alert alert-#{flash_css_class type} alert-flash mb-0 rounded-0" do %>
    <div class="container">
      <% if body.kind_of?(Array) %>
        <ul class="mb-0">
          <% body.each do |message| %>
            <%= content_tag(:li, message) %>
          <% end %>
        </ul>
      <% else %>
        <p class="mb-0"><%= body %></p>
      <% end %>
    </div>
  <% end %>
<% end %>
